[Unit]
Description=xterm Terminal
After=xvnc-term.service
Requires=xvnc-term.service

[Service]
Type=simple
Environment="DISPLAY=:2"
Environment="HOME=/root"
ExecStart=/usr/bin/xterm -maximized
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
